
/* body.loaded{
  opacity: 1;
  filter: blur(0);
  transition: opacity 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
  background: linear-gradient(135deg, rgb(0, 45, 87), rgba(0, 11, 24));
  background: linear-gradient(135deg, rgba(66, 32, 53, 0.98), rgb(0, 23, 45));
} */
body{
  background: linear-gradient(135deg, rgb(0, 45, 87), rgba(0, 11, 24));
  height: 100%;
  margin: 0;
}
/* body {
  background: linear-gradient(135deg, rgb(0, 45, 87), rgba(0, 11, 24));
  opacity: 0;
  filter: blur(4px);
  transition: opacity 0.7s cubic-bezier(0.34, 1.56, 0.64, 1), filter 0.7s cubic-bezier(0.34, 1.56, 0.64, 1);
  transition: opacity 0.7s ease, filter 0.7s ease;
} */

.main-container {
  /* background: linear-gradient(135deg, rgb(0, 45, 87), rgba(0, 11, 24)); */
  opacity: 0;
  transition: opacity 1s ease;
}
body.loaded .main-container {
  opacity: 1;
}

.share-btn:hover,
.share-btn:active {
  color: rgb(255, 100, 167);
  background-color: rgb(255, 100, 167, 0.2);
  /* background-color: rgba(204, 204, 204, 0.1) !important; */
}
.your-name {
  text-shadow: 0 0 17px rgb(0, 170, 255);
}

a.tile:hover {
  background-color: rgb(255, 102, 168) !important;
  border: 1px solid rgba(255, 102, 168, 0.3);
  transform: scale(1.01);
  box-shadow: 0 3px 20px rgba(255, 94, 164, 0.7);
  transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
}
.tile {
  height: 60px;
  text-decoration: none;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: all 0.1s ease-in-out;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
  /* box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.3); */
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .links-container {
    max-width: 900px;
  }
  body{
    overflow: none;
  }
}

.image-container {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 12px rgba(255, 100, 167, 0.2);
}
.image-container img {
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: all 0.2s ease-in-out;
}
.image-container img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 17px rgba(255, 100, 167, 0.2);
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.profile-card.animate {
  animation: fadeInUp 0.8s ease-out forwards;
}

/* Modal container */
.profile-modal {
  display: none;
  position: fixed;
  inset: 0;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 999;
}

.profile-modal img {
  border-radius: 50px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  animation: zoomIn 0.2s ease-out forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.profile-modal .close-profile {
  position: absolute;
  font-size: 2.5rem;
  top: 10px;
  right: 30px;
  cursor: pointer;
}

.icon-bar a{
  text-shadow: 0 1px 12px rgba(255, 255, 255, 0.5);
  transition: all 0.2s ease-in-out;
}
.icon-bar a:hover {
  transform: scale(1.2);
}

/* Mobile */
@media (hover: none) {
  .share-btn:hover {
    background-color: inherit !important;
    color: inherit !important;
  }
  a.tile:hover {
    background-color: inherit !important;
    border: 1px solid rgba(204, 204, 204, 0.2);
    transform: scale(1);
    box-shadow: 0 8px 17px rgba(0, 0, 0, 0.2);
    transition: none;
  }
}

.form-control.is-valid,
.was-validated .form-control:valid {
  border-color: inherit !important;
  background-image: none !important;
}
.was-validated .form-control:valid:focus {
  border-color: #ff64a7 !important;
}

.submit-btn.sent {
  border: 1px solid rgba(34, 197, 94, 0.4);
  background-color: rgba(34, 197, 94, 0.3) !important;
  color: rgb(34, 197, 94);
  transform: scale(1.05);
  transform: scale(1.05);
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.submit-btn .btn-icon {
  display: inline-block;
  transition: transform 0.4s ease;
}

.submit-btn {
  padding: 0.4rem 1.2rem;
  border-radius: 6px;
  border: 1px solid rgba(255, 102, 168, 0.4);
  background-color: rgba(255, 102, 168, 0.1);
  color: rgb(255, 100, 167);
  transition: all 0.2s ease-in-out;
}

.submit-btn:hover {
  background-color: rgba(255, 102, 168, 0.2);
  transform: scale(1.02);
  box-shadow: 0 4px 17px rgba(255, 94, 164, 0.2);
}
.submit-btn:active {
  transform: scale(0.98);
  background-color: rgba(255, 102, 168, 0.3);
}

.contact-btn {
  position: relative;
  overflow: hidden;
  color: rgb(255, 100, 167);
  border: 1px solid rgba(255, 102, 168, 0.2);
  background-color: rgba(255, 102, 168, 0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  box-shadow: 0 12px 32px rgba(119, 28, 67, 0.4);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.contact-form.active .contact-btn {
  opacity: 0;
  transform: scale(0.3);
  pointer-events: none;
}

.contact-float {
  position: fixed;
  bottom: 30px;
  right: 20px;
  z-index: 9990;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
  transform: translateY(24px);
}

body.loaded .contact-float {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

/* .contact-form {
  position: fixed;
  bottom: 20px;
  right: 10px;
  width: calc(100vw - 20px); 
  min-width: 200px;
  max-width: 400px;
  padding: 1rem;
  border-radius: 12px;
  background: linear-gradient(135deg, rgba(45, 55, 72, 0.98), rgba(26, 32, 44, 0.98));
  background: linear-gradient(135deg, rgba(94, 54, 76, 0.98), rgba(39, 23, 31, 0.98));
  backdrop-filter: blur(20px) saturate(180%);
  border: 1px solid #ff64a7;
  opacity: 0;
  transform: scale(0.3);
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  overflow: hidden;
  pointer-events: none;
  transition: all 0.5s ease;
} */

.contact-form {
  position: fixed;
  bottom: 0;
  right: 10px;
  width: 60px;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  background: linear-gradient(135deg, rgba(45, 55, 72, 0.5), rgba(26, 32, 44, 0.5));
  backdrop-filter: blur(10px) saturate(180%);
  -webkit-backdrop-filter: blur(24px) saturate(180%) contrast(100%);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transform: translateY(40px) scale(0.7);
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
  pointer-events: none;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.contact-form.show {
  height: auto;
  width: min(420px, calc(100vw - 60px));
  border-radius: 20px;
  pointer-events: auto;
  transform: translateY(0) scale(1);
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.34, 1.56, 0.64, 1);
}

#contactToggle.hide {
  opacity: 0;
  transform: scale(0.3);
  pointer-events: none;
  transition: all 0.4s ease;
}

/* .contact-form {
  position: absolute;
  bottom: 60px;
  right: 0;
  width: 400px;
  padding: 1rem;
  background-color: rgba(255, 100, 167, 0.01) !important;
  backdrop-filter: blur(20px)!important;
  -webkit-backdrop-filter: blur(20px) contrast(90%);
  border: 1px solid rgba(255, 100, 167, 0.2) !important;
  box-shadow: 0 3px 12px rgba(255, 100, 167, 0.2) !important;
} */

.contact-form input,
.contact-form textarea {
  border: none;
  background: transparent;
  border-bottom: 1px solid #ccc;
  border-radius: 0;

  /* width: 100%;
  padding: 10px 16px;
  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-family: inherit;
  transition: all 0.3s ease;
  box-sizing: border-box;
  outline: none; */
}
.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  background: transparent;
  border-bottom: 1px solid rgba(255, 100, 167, 0.7);
  box-shadow: none;
}

.widget-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background: rgba(255, 255, 255,0);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(8px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 998;
}
.widget-overlay.profile-active {
  background-color: rgba(100, 100, 100, 0);
  backdrop-filter: blur(34px);
  -webkit-backdrop-filter: blur(34px);
  opacity: 0.8;
}

.widget-overlay.active {
  opacity: 1;
  visibility: visible;
}

.contact-btn::before {
  filter: blur(2px);
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: conic-gradient(
    from 0deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent 30%
  );
  animation: rotate 3s linear infinite;
  opacity: 0.6;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

/* Loading  */
.site-loader {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.7s ease-in-out;
  opacity: 1;
  transition: opacity 0.8s ease, visibility 0.8s ease;
  z-index: 9999;
}
.site-loader.fade-out {
  opacity: 0;
  visibility: hidden;
}

.loader-ring{
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}
.loader-ring::before{
  display: flex;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.loader-text{
  font-size: 1rem;
  color: white;
  animation: text 4s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 2px 2px #22ff00, 0 3px 2px #00bcd4;
  }
  50% {
    transition: rotate(180deg);
    box-shadow: 0 2px 2px #00bcd4, 0 3px 2px #ff0088;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0 2px 2px #ff0088, 0 3px 2px #22ff00;
  }
}
@keyframes text {
  50% {
    opacity: 0.3;
  }
}

/* ::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: rgb(0, 32, 71);
  border-radius: 3px;
  border: 2px solid transparent;
  background-clip: content-box;
} */


/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: rgba(0, 45, 87, 0.1);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 70, 136, 0.7);
  border-radius: 3px;
  transition: background-color 0.3s ease;
}
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 70, 136, 0.9);
}
