.share-btn:hover {
  color: #ff64a7;
  background-color: rgba(255, 102, 168, 0.1) !important;
}
a.tile:hover {
  background-color: rgba(255, 102, 168) !important;
  transform: scale(1.01);
  box-shadow: 0 4px 17px rgba(255, 94, 164, 0.2);
  transition: cubic-bezier(0.07, 1.41, 0.82, 1.41) 0.2s;
}
.tile {
  text-decoration: none;
  border-radius: 10px;
}
.image-container img {
  box-shadow: 0 4px 17px rgba(255, 94, 164, 0.2);
  transition: all 0.2s ease-in-out;
}
.image-container img:hover {
  transform: translateY(-2px);
}

.icon-bar a:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  color: #ff64a7 !important;
}
.contact-btn:hover {
  background-color: rgba(255, 102, 168, 0.2);
  color: #ff64a7;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
}
.modal-content input,
.modal-content textarea {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background-color: transparent;
  color: #fff;
}
.modal-content input:focus,
.modal-content textarea:focus {
  border-bottom: 1px solid rgba(255, 100, 167, 0.7);
  outline: none;
  box-shadow: none;
}

@media (hover: none) {
  .share-btn:hover {
    background-color: inherit !important;
    color: inherit !important;
  }
  .share-btn:active {
    color: #ff64a7 !important;
    background: rgba(255, 102, 168, 0.1) !important
  }
}

/* #formAlert {
  margin-bottom: 1rem;
  max-width: 300px;
  border-radius: 8px;
  background-color: rgba(255, 102, 168, 0.2);
  color: #ff64a7;
  border: 1px solid rgba(255, 102, 168, 0.4);
  box-shadow: 0 4px 17px rgba(255, 94, 164, 0.2);
} */

#formAlert {
  position: fixed;
  left: 50%;
  width: auto;
  border-radius: 8px;
  background-color: rgba(255, 102, 168, 0.2);
  color: #ff64a7;
  border: 1px solid rgba(255, 102, 168, 0.4);
  box-shadow: 0 4px 17px rgba(255, 94, 164, 0.2);
  transform: translateX(-50%);
}




